*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    position: relative;
}

.clockContainer{
    width: 700px;
    height: 250px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clockContainer::before{
    content: '';
    height: 180px;
    width: 180px;
    background: #f41b75;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}

.clockContainer::after{
    content: '';
    height: 180px;
    width: 180px;
    background: #f41b75;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    right: -50px;
    z-index: -1;
}

.clock{
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    display: inline-block;
    font-size: 80px;
    width: 110px;
    text-align: center;
    position: relative;
}

.clock span::after{
    /* content: 'hrs'; */
    font-size: 18px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%)
}

#hrs::after{
    content: "HRS";
}

#min::after{
    content: "MIN";
}

#sec::after{
    content: "SEC";
}